<h1>{{ title | uppercase }}</h1>

<div id="result">
  <table>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Plafond</th>
      <th>Angsuran</th>
      <th>Tenor (Bulan)</th>
      <th>Analis</th>
      <th>Jenis Kredit</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Coki Pardede</td>
      <td>150.000.000</td>
      <td>800.000</td>
      <td>12 Bulan</td>
      <td>Heriyanto</td>
      <td>Multi Guna</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Tretan Muslim</td>
      <td>5.000.000</td>
      <td>100.000</td>
      <td>36 Bulan</td>
      <td>Bama</td>
      <td>Mikro</td>
    </tr>
  </table>
</div>

<button (click)="downloadPDF()">Download</button>